@layer theme {
  .dark,
  .dark :root,
  .dark :host {
    /* Colors - Backgrounds */
    --color-background: var(--color-neutral-900);
    --color-background-secondary: var(--color-neutral-1000);
    --color-foreground: var(--color-neutral-50);

    --color-border-foreground: color-mix(
      in srgb,
      var(--color-neutral-600) 50%,
      transparent
    );
    --color-border-input: color-mix(
      in srgb,
      var(--color-neutral-600) 50%,
      transparent
    );

    --color-progress-background: color-mix(
      in srgb,
      var(--color-neutral-300) 15%,
      transparent
    );

    --color-card-background: var(--color-neutral-800);

    --color-button-hover: var(--color-neutral-700);
  }
}
