@theme {
  /* Light theme semantic colors */
  --color-background: var(--color-neutral-50);
  --color-background-secondary: var(--color-neutral-0);
  --color-foreground: var(--color-neutral-900);
  --color-foreground-secondary: var(--color-neutral-500);

  --color-border-foreground: var(--color-neutral-200);
  --color-border-input: var(--color-neutral-300);

  --color-badge-background: var(--color-neutral-400);
  --color-progress-background: color-mix(
    in srgb,
    var(--color-neutral-300) 50%,
    transparent
  );

  --color-card-background: color-mix(
    in srgb,
    var(--color-neutral-200) 40%,
    transparent
  );

  --color-button-hover: var(--color-neutral-200);
}
