@theme {
  /* Light theme semantic colors */
  --color-background: var(--color-neutral-50);
  --color-background-secondary: var(--color-neutral-0);
  --color-foreground: var(--color-neutral-900);
  --color-foreground-secondary: var(--color-neutral-500);

  --color-border-foreground: var(--color-neutral-200);
  --color-border-input: var(--color-neutral-300);

  --color-button-hover: var(--color-neutral-200);
}
